body {
    font-size: 12px;
}

.form {
    width: 200px;
    display: flex;
    flex-direction: column;
    user-select: none;
}
.form>div {
    padding: 0 8px;
}
.form>div:nth-of-type(odd) {
    background: #cbe0bb;
}
.form>div:nth-of-type(even) {
    background: #d4e1ca;
}
.form>div.title {
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.form>div.link {
    cursor: pointer;
    text-decoration: underline;
    color: #4d6aff;
}
.form>div.mark {
    color: #ff0000;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    flex-direction: column;
}
.tree {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
.tree.list {
    flex-direction: column;
}

.select.input {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 12px;
}
.select.options {
    position: absolute;
    background: #ffffff;
    padding: 2px;
    cursor: pointer;
    max-height: 200px;
    overflow-y: auto;
}
