.model {
    display: flex;
    font-size: 12px;
    color: #262626; 
    user-select: none; 
    color: #389e0d;
}

.body {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-right: 8px;
    margin-bottom: 8px;
    border: 1px solid transparent;
}

div.actived {
    border: 1px solid #ff4d4f;
}

.link.hover {
    color: #ff4d4f;
}

.api {
    color: #ff4d4f;
    text-decoration: underline;
    cursor: pointer;
}

.row {
    display: flex;
    width: 150px;
    height: 18px;
    border: 1px solid transparent;
}

.row:nth-of-type(odd) {
    background: #cbe0bb;
}

.row:nth-of-type(even) {
    background: #d4e1ca;
}

.head {
    background: #cbe0bb;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.children {
    display: flex;
    flex-direction: column;
}

.key {
    padding-left: 4px;
    overflow: hidden;
    margin-right: 4px;
    flex: 0 0 auto;
}

.value {
    display: flex;
    padding-right: 4px;
    overflow: hidden;
}

.fold:nth-of-type(even) {
    background: #d0d0d0;
}

.fold:nth-of-type(odd) {
    background: #d4d4d4;
}

.title {
    font-weight: bold;
}

.link {
    text-decoration: underline;
    cursor: pointer;
    margin-right: 4px;
    color: #4d6aff;
}

.icon {
    margin-left: auto;
    margin-right: 4px;
    cursor: pointer;
    font-size: 16px;
}