.model {
    display: flex;
    font-size: 12px;
}

.data {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-right: 8px;
    margin-bottom: 8px;
}

.row {
    display: flex;
}

.row:nth-of-type(odd) {
    background: #edfcdf;
}

.row:nth-of-type(even) {
    background: #f6ffed;
}

.title {
    background: #edfcdf;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
}

.children {
    display: flex;
    flex-direction: column;
}

.key {
    width: 100px;
    padding-left: 4px;
    overflow: hidden;
}

.value {
    width: 80px;
    display: flex;
    padding-right: 4px;
    overflow: hidden;
}

.row.fold {
    background: #f0f0f0;
}

.field {
    width: 100px;
    padding-left: 4px;
    font-weight: bold;
}

.function {
    text-decoration: underline;
    cursor: pointer;
    margin-right: 4px;
    color: #4d6aff;
}